@model IEnumerable<AM.EmergencyService.App.Web.Models.Account.UserViewModel>

<p>
    @Html.ActionLink("Новый пользователь", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Роли
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.Action("UserRoles", new { userId = item.Id })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { userId=item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { userId = item.Id })
            </td>
        </tr>
    }

</table>
