@model IEnumerable<AM.EmergencyService.App.Web.Models.Rescuers.RescuerViewModel>

<p>
    @Html.ActionLink("Добавить работника", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { rescuerId = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { rescuerId = item.Id })
            </td>
        </tr>
    }
</table>
<script src="~/Scripts/globalize.js"></script>
<script src="~/Scripts/jquery.validate.globalize.js"></script>
