@model IEnumerable<AM.EmergencyService.App.Common.Models.InventoryModel>

<p>
    @Html.ActionLink("Добавить инвентарь", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InventoryName)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { inventoryId=item.InventoryNumber }) |
            @Html.ActionLink("Удалить", "Delete", new { inventoryId = item.InventoryNumber })
        </td>
    </tr>
}

</table>
