@model IEnumerable<AM.EmergencyService.App.Web.Models.Inventory.InventoryViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InventoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryName)
            </td>
            @if (HttpContext.Current.Request.FilePath != "/RequestDetail/Details")
            {
                <td>
                    @Html.ActionLink("Удалить", "DeleteInventoryFromRequest", new { requestNumber = ViewBag.requestNumber, inventoryNumber = item.InventoryNumber })
                </td>
            }
        </tr>
    }

</table>
